
syntax: glob

# general unwanted tmp files
.DS_Store
*.log
*.log.?
*.log.??
*~

# Xcode-specific files
build
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3

#python compiled
*.pyc
*.pyo

# java compiled
*.class
*.jar

# project-specific files

bin/*
gen/*


.hg
